@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf");
  font-style: normal;
  font-display: swap;
}
:root {
  --background-primary-color: #ffffff;
  --background-secondary-color: #f5f5f5;
  --background-tertiary-color: #000000;

  --primary-color: #8f0101;
  --secondary-color: #b81515;

  --text-primary-color: #222222;
  --text-secondary-color: #ffffff;

  --title-weight: 700;
  --text-weight: 400;
  --menu-text-weight: 500;
}

/* css reset */
body,
img,
h1,
p,
fieldset,
input,
select,
textarea,
button {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

h1 {
  color: var(--text-primary-color);
  font-size: 2rem;
}

body{
    font-family: "Montserrat", sans-serif;
}