header {
    background-color: var(--background-tertiary-color);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 37px 48px;
}

.logo img {
    display: inline-block;
    width: 68px;
    height: 64px;
}

.navigation-menu {
    margin-top: 24px;
}

input[type="checkbox"]:checked ~ nav {
    display: block;
}

nav {
    display: none;
}

