.offers-cards {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.card {
  color: var(--text-secondary-color);
  width: 312px;
  height: 288px;
  box-sizing: border-box;
  padding: 24px 16px;
  border-radius: 16px;
  text-align: center;
  background-color: black;
  overflow: hidden;
}

.card header {
  display: block;
  position: static;
  padding: 0;
  margin-bottom: 40px;
}

.card header p {
  font-size: 20px;
  font-weight: var(--text-weight);
}

.card header h3 {
  font-weight: var(--title-weight);
  font-size: 32px;
  margin: 8px 0 0;
}

.card header h3 span {
  display: inline-block;
  font-size: 32px;
  margin-top: 24px;
}

.card.japao {
  background-image: url("../img/Tokyo.jpg");
  background-size: cover;
  background-position: center;
}

.card.san-andreas {
  background-image: url("../img/San-Andreas.png");
  background-size: cover;
  background-position: center;
}

.card.paraiba {
  background-image: url("../img/Paraíba.png");
  background-size: cover;
  background-position: center;
}

.card.manaus {
  background-image: url("../img/Manaus.png");
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 768px) {
  .offers-cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 980px) {
  .card {
    width: 420px;
    height: 308px;
  }

  .card header h3 {
    font-size: 48px;
  }

  .card header h3 span {
    font-size: 40px;
  }
}

@media screen and (min-width: 1300px) {
  .card {
    width: 588px;
    height: 308px;
  }
}

@media screen and (min-width: 1920px) {
  .card {
    width: 1250px;
    height: 308px;
  }
}
