.destination-itens {
  width: 312px;
  margin: 0 auto;
}

.item img {
  width: 312px;
  height: 360px;
}

.item h2 {
  margin: 24px 0;
}
.item .button {
  margin: 24px 0 40px;
}

.item p {
  font-size: 20px;
  font-weight: var(--text-weight);
}

.destination-itens .button {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .destination-itens {
    width: 648px;
  }

  .item img {
    width: 648px;
    height: 452px;
  }
}

@media screen and (min-width: 1024px) {
  .destination-itens {
    width: 648px;
    height: 452px;
    margin: 0 auto;
  }

  .item img {
    width: 648px;
    height: 452px;
  }
}

@media screen and (min-width: 1440px) {
  .destination-itens {
    width: 1200px;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 24px;
  }

  .item {
    width: 588px;
  }

  .item img {
    width: 588px;
    height: 452px;
  }
}
