:root{
    --background-primary-color: #ffffff;
    --background-secondary-color: #f5f5f5;
    --background-tertiary-color: #000000;

    --button-primary-color: #8f0101;
    --button-secondary-color: #b81515;

    --text-primary-color: #222222;
    --text-secondary-color: #ffffff;
}

/* css reset */
body, img,h1,p, fieldset, input, select, textarea, button {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

h1{
    color: var(--text-primary-color);
    font-size: 2rem;
}