@import url("global.css");
@import url("header.css");
@import url("hero.css");
@import url("offers.css");
@import url("categories-search.css");
@import url("pop-dest.css");
@import url("payment.css");
